.Slideshow {
  height: 80%;
  display: flex;
  flex-grow: 1;
  position: relative;

  .controls {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  :global(.carousel-inner) {
    height: 100%;
  }

  :global(.carousel-item) {
    height: 100%;
  }

  .image {
    height: 100%;
    position: relative;

    @media screen and (max-width: 1080px) {
      img {
        height: 100%;
        position: absolute;
        left: 0;
      }
    }

    .slideHeader {
      position: absolute;
      top: 10%;
      text-align: center;
      left: 0;
      right: 0;

      h1 {
        font-family: "Philosopher";
        font-size: 120px;
        font-weight: normal;
        color: #ffffff;
        margin-bottom: 16px;

        @media screen and (max-width: 1080px) {
          font-size: 40px;
        }
      }

      .subtitle {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);

        h5 {
          font-family: "Bicyclette";
          font-weight: normal;
          text-transform: uppercase;
          font-size: 36px;
          letter-spacing: 15px;
          color: #ffffff;
          position: relative;
          display: inline-block;
          z-index: 10;

          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 26px;
            opacity: 0.70;
            background: #a9895b;
            position: absolute;
            top: 40%;
            left: 0;
            z-index: -1;
          }

          @media screen and (max-width: 1080px) {
            font-size: 20px;

            &::after {
              height: 18px;
            }
          }
        }

        span {
          font-family: "Helvetica";
          font-weight: normal;
          text-transform: uppercase;
          font-size: 22px;
          letter-spacing: 4px;
          color: #ffffff;
          position: relative;
          display: inline-block;
          z-index: 10;

          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 26px;
            opacity: 0.70;
            background: #a9895b;
            position: absolute;
            top: 35%;
            left: 0;
            z-index: -1;
          }

          @media screen and (max-width: 1080px) {
            font-size: 16px;

            &::after {
              top: 18%;
              height: 92%;
            }
          }

        }
      }
    }
  }

  :global(.carousel-control-prev) {
    justify-content: left;
    position: relative;
  }

  :global(.carousel-control-next) {
    justify-content: right;
    position: relative;
  }

  :global(.carousel-control-prev-icon) {
    width: 63px;
    height: 63px;
    background-image: url(../../assets/icons/unicons-arrow-c.png);

    @media screen and (max-width: 1080px) {
      width: 30px;
      height: 30px;
    }
  }

  :global(.carousel-control-next-icon) {
    width: 63px;
    height: 63px;
    background-image: url(../../assets/icons/unicons-arrow-c.png);
    transform: rotate(-180deg);

    @media screen and (max-width: 1080px) {
      width: 30px;
      height: 30px;
    }
  }
}