.avantPremiere {
  position: absolute;
  left: 0;
  right: 0;
  top: -198px;
  width: 100%;

  @media screen and (max-width: 1080px) {
    top: -559px;
  }

  .container {
    background-size: cover;
    background-position: center;
    padding: 40px 92px;
    display: flex;
    gap: 46px;
    align-items: center;
    max-width: 1520px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1080px) {
      display: block;
      width: 100%;
      padding: 40px 22px;
    }

    .content {
      h1 {
        font-family: "Philosopher";
        font-size: 60px;
        font-weight: normal;
        font-style: normal;
        text-align: left;
        color: #ffffff;
        margin: 0;
      }

      p {
        font-family: "Philosopher";
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        text-align: left;
        color: #ffffff;
        margin: 0;
      }

      @media screen and (max-width: 1080px) {
        margin-bottom: 40px;
      }
    }
  }
}