* {
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.sp-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#informationOne {
  padding-top: 141px;
  padding-bottom: 146px;
}
#informationOne .informationOne_Image {
  width: 100%;
}

.buttonContent {
  width: 100%;
  padding: 35px;
  z-index: 100;
}

.modalHeader {
  padding: 10px;
  display: flex;
  justify-content: end;
}

#informationTwo {
  padding-top: 233px;
  background-size: 100% 1080px;
  position: relative;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
  #informationTwo {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: 100% 100%;
  }
}

#informationTwo .info {
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  padding-top: 133%;
  cursor: pointer;
}

#informationTwo .informationTwo_image {
  width: 100%;
  height: 100%;
}
